This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [12]:
# Import the packages
import quandl
import pandas as pd

In [4]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
quandl.ApiConfig.api_key = API_KEY

In [6]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
stock = quandl.get("FSE/AFX_X", start_date='2017-01-01', end_date='2017-12-31')

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [7]:
stock.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None

In [9]:
type(stock)

pandas.core.frame.DataFrame

## What are the Bounds of this Time Frame?

In [11]:
# Calculate Highest and lowest values in this period
highest_high = stock.High.max()
lowest_low = stock.Low.min()
print("Highest Value:", highest_high)
print("Lowest Value:", lowest_low)

Highest Value: 53.54
Lowest Value: 33.62

# What is the One Day Shift?

In [14]:
stock['One-Day-Diff'] = stock['Open'].diff()

In [15]:
stock.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,One-Day-Diff
Date,,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None,NaN
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None,0.91
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None,-0.42
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None,-0.46
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None,-0.11

In [16]:
highest_high = stock['One-Day-Diff'].max()
lowest_low = stock['One-Day-Diff'].min()
print("Highest Value:", highest_high)
print("Lowest Value:", lowest_low)

Highest Value: 1.7800000000000011
Lowest Value: -3.549999999999997

# What is the two day shift?

In [17]:
stock['Two-Day-Diff'] = stock['Open'].diff(periods=2)

In [18]:
highest_high = stock['Two-Day-Diff'].max()
lowest_low = stock['Two-Day-Diff'].min()
print("Highest Value:", highest_high)
print("Lowest Value:", lowest_low)

Highest Value: 2.509999999999998
Lowest Value: -3.1700000000000017

# What was the average daily trading volume during this year?

In [23]:
adtv_year = stock["Traded Volume"].sum() / stock.shape[0]
print("Average Daily Traded Volume", adtv_year)

Average Daily Traded Volume 89124.33725490196

# What was the median trading volume during this year?

In [24]:
n = stock.shape[0]
median = int((n+1) / 2)

In [26]:
print(median)

128

In [27]:
stock_sorted = stock.sort_values(by=['Traded Volume'])

In [31]:
print("Median Value Info")
print(stock_sorted.iloc[median:median+1, :])

Median Value Info
             Open   High    Low  Close  Change  Traded Volume   Turnover  \
Date
2017-09-27  42.35  42.49  41.78  42.04     NaN        76600.0  3219861.0

           Last Price of the Day Daily Traded Units Daily Turnover  \
Date
2017-09-27                  None               None           None

            One-Day-Diff  Two-Day-Diff
Date
2017-09-27          0.05          0.05